services :
  mariadb :
    build: ./database
 #   restart: unless-stopped
    container_name: mariadb
    env_file: .env
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"
    

volumes:
  db-data:
    driver: local
    driver_opts:
      type: none
      o : bind
      device : "${DATA_PATH}/data/db"